@use "variaveis";
.header {
  &__container {
    height: 24px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;

    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 16px 3%;
    position: fixed;
    &__boxLeft{
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 13px;
      &__svgNfLogo {
        fill: #e50914;
        display: inline-block;
        line-height: 90px;
        text-decoration: none;
        vertical-align: middle;
      }
    }
    &__boxRight {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 13px;
      &__links {
        display: flex;
      }
      .text {
        font-size: 13px;
        color: variaveis.$corDeTextoPrimario;
      }

      div {
        display: block;
        unicode-bidi: isolate;
      }
    }
  }
}
.svg-icon-netflix-logo {
  display: block;
  width: 110px;
  height: 40px;
}
